---js
const eleventyNavigation = {
	key: "Home",
	order: 1
};

---
<h4>About Me</h4>
<p> 
	Hi, I’m Carolina! I am a <b>backend systems software engineer</b> based in <b>NYC</b> specializing in building efficient systems, 
	solving complex challenges, and delivering scalable, impactful results through code. 
	You can find my resume 
	<script>
		document.write('<a href="https://www.dropbox.com/scl/fi/fw6rhgwcuh64fjb3svyld/Carolina-Calderon-nov2024.pdf?rlkey=rgdj36mlugawcwe5xiney1cvc&st=m4nsr53i&dl=0">here</a>');
	</script>.
</p>

<p>
	I also love to travel internationally & domestically, especially while working remotely, or
	traveling solo. Since graduating from university, I average seven countries and 
	nine weeks of international travel each year, and my current tally is twenty-three countries. Occasionally, 
	I'll share updates and stories here for family and friends.
</p>


<h4>Connect</h4>
<p>
	You can reach me at
	<script>
		document.write('<a href="mailto:c@thecalderons.net">c [at] thecalderons [dot] net</a>');
	</script>.
</p>
<p>
	Or connect with me on 
	<script>
		document.write('<a href="https://www.linkedin.com/in/carolinaecalderon/">LinkedIn</a>');
	</script> and <script>
		document.write('<a href="https://github.com/carolinaecalderon">GitHub</a>');
	</script>.
</p>